body {
	background-color: #e8ecf4;
	margin-left: 80px;
	margin-right: 80px;
	font-family: 'Exo';font-size: 22px;
}
.video {
	position: relative;
	margin:auto;
	width: 80%;
	padding-bottom: 56.25%;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
li a:hover {
	color: #055864;
}
.inline {
	color: #055864;
}
#visual {
	width: 100vw;
	margin-left: -80px;
	margin-right: -80px;
}
#menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menuitem {
	padding: 10px;
}
.flexheader {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin-top: 40px;
}
.headerText {
	max-width: 60%;
}
.flexheader img {
	max-width: 35%;
	padding: 20px;
}
h2 {
	color: #055864;
}
#projecten {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

}
.project {
	position: relative;
	display: block;
	width: 30%;
	background-color: red;
	box-shadow: 4px 4px #055864;
}
.project img {
	width: 100%;
	height: 100%;
}
.project:hover .overlay {
  opacity: 0.9;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #055864;
}
.overlay p {
	width: 80%;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact_header img {
	float:left;
}
@media only screen and (max-width: 1480px) {
	.project {
		width: 40%;
	}
}
@media only screen and (max-width: 1100px) {
	.headerText {
		max-width: 80%;
	}
	.flexheader img {
		max-width: 90%;
		margin-left: 0px;
	}
	.project {
		width: 90%;
		justify-self: center;
	}
}
.center {
	display: block;
	margin: auto;
}
@media only screen and (max-width: 600px) {
		#visual {
			margin-left: -5px;
			margin-right: -5px;
		}
		body {
			margin: 5px;
		}

